@model HospitalSmartQ.Models.UserProfile
@{
    ViewBag.Title = "User Details";
}
@section css {}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">@ViewBag.Title</h4>
                <div class="right">
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit", "Admin", new { uID = Model.UserId })"><i class="fa fa-edit"></i> Edit</a>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong class="col-4">Name : </strong> @Html.DisplayFor(model => model.Name)</li>
                    <li class="list-group-item"><strong class="col-4">Username : </strong> @Html.DisplayFor(model => model.Username)</li>
                    <li class="list-group-item"><strong class="col-4">Personal Number: </strong> @Html.DisplayFor(model => model.UserCode)</li>
                    <li class="list-group-item"><strong class="col-4">Role : </strong>@string.Join(", ", Model.UserRoles)</li>
                    @if (Model.UserDepartments!=null)
                    {
                        <li class="list-group-item"><strong class="col-4">Department : </strong>@string.Join(", ", Model.UserDepartments.Select(s=>s.DeptName))</li>
                    }
                    @if (Model.Role == "Doctor")
                    {
                        <li class="list-group-item"><strong class="col-4">Qualification : </strong> @Html.DisplayFor(model => model.DoctorQualification)</li>
                        <li class="list-group-item"><strong class="col-4">Address : </strong> @Html.DisplayFor(model => model.DoctorAddress)</li>
                    }
                    <li class="list-group-item"><strong class="col-4">Access : </strong> @(Model.IsActive == true ? "Granted" : "Blocked" )</li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section scripts {
}
